.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.buttons {
  margin-left: auto;
}

.select-container {
  width: 1600px;
  height: 200px;
  border: 3px solid gray;
  padding: 10px;
  margin: 10px;
}

select {
  width: 300px;
  height: 50px;
  padding: 10px;
}
